{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>web hon-hon</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stayle.css' %}" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="">Hon-Hon Drink</a>
      </div>
      <ul class="menu">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>
          <a href="{% url 'menu' %}">Menu</a>
        </li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </nav>
    <div class="welcome">
      <h1>Selamat datang di kedai Hon-Hon</h1>
      <p>
        Kami siap melayani dengan segenap kemampuan kami,terimakasih sudah
        mengunjungi kedai kami,semoga puas dengan pelayanan kami
      </p>
      <img src="{% static 'image/logo.png' %}" width="100%" />
    </div>
    <footer>
      <div class="container">
        <center><h3>By Dimas wahyu romadhoni.</h3></center>
      </div>
    </footer>
  </body>
</html>
