{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>web hon-hon</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stayle.css' %}" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="">Hon-Hon</a>
      </div>
      <ul class="menu">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>
          <a href="{% url 'menu' %}">Menu</a>
          <ul class="minuman">
            <li><a href="{% url 'minuman' %}">Minuman</a></li>
          </ul>
        </li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </nav>
    <div class="welcome">
      <h3>silahkan pilih menu</h3>
    </div>
    <footer>
      <div class="container">
        <small>By Dimas wahyu romadhoni.</small>
      </div>
    </footer>
  </body>
</html>
